@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-800;
  }
}

/* Custom animation for the paw loader */
.animated-paw {
  color: #f97316; /* text-orange-500 */
}

.animated-paw path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: drawPaw 2s ease-in-out forwards, fillPaw 0.5s 2s ease-in-out forwards;
}

@keyframes drawPaw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillPaw {
  from {
    fill: transparent;
  }
  to {
    fill: currentColor;
    stroke: transparent;
  }
}
